!!! 5
%html
  %head
    %title Brian Lu
    %meta{charset: 'utf-8'}
    %meta{content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no', name: 'viewport'}
    %link{href: media_url('favicon.png'), rel: 'shortcut icon'}
    %link{href: media_url('apple-touch-icon.png'), rel: 'apple-touch-icon'}
    = haml :style
  %body{lang: 'en'}
    #wrapper
      #content
        #text
          .row
            %h1= haml :blu
          .row
            I'm a software developer in New York, currently working as Lead Engineer at
            = succeed '.' do
              %a{href: 'https://hullabalu.com', target: '_blank'}= haml :hullabalu
          .row
            I studied Computer Science at
            = succeed '.' do
              %a{href: 'http://www.columbia.edu', target: '_blank'}= haml :columbia
          .row
            I make a series of progressive house/trance mixes called
            = succeed '.' do
              %a{href: 'http://blu.pub/batch', target: '_blank'}= haml :batch
          .row
            %a.social{href: 'https://www.facebook.com/juni0r', target: '_blank'}= haml :facebook
            %a.social{href: 'https://instagram.com/bakemecookies/', target: '_blank'}= haml :instagram
            %a.social{href: 'https://twitter.com/bakemecookies', target: '_blank'}= haml :twitter
    = haml :script
